body {
	font: 15px/1.5 'oswald', arial;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*Global*/

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

/*Header*/

header {
	background: #2d2d4c;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e6291d 5px solid;
}

header #name_logo{
float: left;
}

header #name_logo h1{
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}
header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header .highlight, header .current a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/

#showcase {
	min-height: 400px;
	background: url("../images/pexels-hall.jpg") no-repeat 0 -80px;
	text-align: center;
	color: white;
	
}

#showcase h1 {
	padding-top: 30px;
	font-size: 38px;
	letter-spacing: .75px;
	padding-left: 5px;
}

#showcase p {
	font-size: 22px;
	padding-left: 5px;
}














